@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 40%);
    --black: hsl(0, 0%, 8%);
    --dark: hsl(230, 8%, 15%);
    --brand-blue: hsl(198, 86%, 51%);
    --brand-grey: hsl(0, 0%, 71%);
    --button: hsl(192, 100%, 33%);
    --button-hover: hsla(192, 100%, 33%, 0.7);
}

.main-section{
  color: var(--brand-blue);
  padding: 1rem 5rem;
}

.placehold{
  color: var(--white);
  padding: 0 5rem;
}